@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");

:root {
  --bright-blue: #3a7bfd;
  --chck-bg-first: #57ddff;
  --chck-bg-second: #c058f3;
  --body-bg-clr: #fafafa;
  --form-bg-clr: #ffffff;
  --border-clr: #e4e5f1;
  --cross-clr: #d2d3db;
  --form-subpar-clr: #9394a5;
  --form-par-clr: #484b6a;
}

.dark-theme {
  --body-bg-clr: #161722;
  --form-bg-clr: #25273d;
  --cross-clr: #4d5066;
  --border-clr: #393a4c;
  --form-subpar-clr: #777a92;
  --form-par-clr: #cacde8;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Josefin Sans", sans-serif;
  background-image: url("./images/bg-mobile-light.jpg");
  background-repeat: no-repeat;
  background-color: var(--body-bg-clr);
}

body.dark-theme {
  background-image: url("./images/bg-mobile-dark.jpg");
}

.container {
  width: 90%;
  margin: 0 auto;
  margin-top: 4.5rem;
}

/* HEADER SECT */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
}

.title {
  font-weight: 700;
  font-size: 3.2rem;
  color: #ffffff;
  letter-spacing: 1rem;
}

.icon {
  width: 2rem;
  cursor: pointer;
}

/* SEARCH SECT */

.search-cont {
  display: flex;
  gap: 1.5rem;
  padding: 1.5rem;
  border-radius: 0.5rem;
  margin-bottom: 1.5rem;
  width: 100%;
  background-color: var(--form-bg-clr);
}

.search-circle {
  width: 2rem;
  height: 2rem;
  border: 1.5px solid var(--border-clr);
  border-radius: 50%;
}

.input-search {
  font-family: "Josefin sans", sans-serif;
  font-size: 1.2rem;
  color: var(--form-par-clr);
  background-color: var(--form-bg-clr);
  border: none;
  outline: none;
}
.input-search:focus {
  caret-color: var(--bright-blue);
}

/* TODO SEC */

.todo-cont {
  background-color: var(--form-bg-clr);
  border-radius: 0.5rem;
}

.todo-info-cont {
  display: flex;
  padding: 1.5rem;
  justify-content: space-between;
  box-shadow: 0.3rem 2rem 3.5rem -0.5rem rgba(22, 23, 34, 0.212);
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  margin-bottom: 2rem;
}

.todo-info-cont p {
  color: var(--form-subpar-clr);
  font-size: 1.2rem;
}

.todo-list {
  list-style: none;
  background-color: var(--form-bg-clr);
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.todo-item {
  display: flex;
  align-items: center;
}

.circle {
  position: relative;
  display: flex;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  border: 1.5px solid var(--border-clr);
  border-radius: 50%;
}

.check {
  display: none;
}

.cross {
  cursor: pointer;
}

.todo-item.completed .circle {
  background: linear-gradient(150deg, #57ddff, #c058f3);
  background-clip: padding-box;
  border: 1.5px solid transparent;
}

.todo-item.completed .circle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 50%;
  background: linear-gradient(150deg, #57ddff, #c058f3);
}

.todo-item.completed .circle .check {
  pointer-events: none;
  width: 45%;
  height: auto;
  display: block;
}

.todo-item {
  justify-content: space-between;
  border-bottom: 1px solid var(--border-clr);
  padding: 1.5rem;
}

.todo-item div {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.todo-item div .circle {
  cursor: pointer;
}

.todo-item div .circle:hover {
}

.todo-item p {
  font-size: 1.2rem;
  color: var(--form-par-clr);
}

.todo-item.completed p {
  color: var(--cross-clr);
  text-decoration: line-through;
}

.todo-item img {
  width: 1.2rem;
  height: 1.2rem;
}

/* FILTER SECT */
.filter-cont {
  display: flex;
  padding: 1.5rem;
  justify-content: center;
  box-shadow: 0.3rem 0.5rem 3.5rem -0.5rem rgba(22, 23, 34, 0.212);
  border-radius: 0.5rem;
  background-color: var(--form-bg-clr);
}

.filter-cont div {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
}

.filter-cont div p {
  color: var(--form-subpar-clr);
  font-size: 1.4rem;
  font-weight: 700;
}
